*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    color: white;
    background-color: #141922;
}
.flex{
    display: flex;
}
.space-b{
    justify-content: space-between;
}
.justify-content{
    justify-content: center;
}
img{
    max-width: 100%;
}
.wrap{
    flex-wrap: wrap;
}
ul{
    list-style-type: none;
}
a{
    text-decoration: none;
    color: white;
}
header{
    background-color: #000000;
    width: 240px;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    padding-top: 60px;
    transition: 0.5s; 
}
main{
    margin: 0 0 110px 240px ;
    width:auto;
}
section > h1,
section > p{
    padding-bottom: 1rem;
}
.recent article img,
.created article img,
.popular article img{
    max-height: auto;
    margin-bottom: 1rem;
}
.recent,
.created,
.popular{
    padding-top: 2rem;
}
.recent{
    justify-content: space-between;
}
.recent article,
.created article,
.popular article{
    padding-right: .5rem;
    max-width: 225px;
    text-align: center;
}
.recent article h2,
.created article h2,
.popular article h2{
    font-size: 20px;
    padding-bottom: .6rem;
}
.container{
    background-color: #141922;
    margin: 0 1rem;
}
.container > *{
    padding-bottom: 2rem;
}
.container nav ul li{
    padding: 1rem;
}
.jumbotron{
    justify-content: right;
    background-color: #080b12;
}
.jumbotron button{
    font-family: "Montserrat", sans-serif;
    margin: 1.5rem .3rem;
    padding: 1rem 2.5rem;
    border-radius: 25px;
    border: .1rem solid white;
    background-color: #080b12;
    color: white;
}
footer{
    background-color: #282828;
    position: fixed;
    height: 110px;
    width: auto;
    bottom: 0;
    left: 0;
    right: 0;
}
.song img{
    max-width: 50px;
}
.foot{
    align-items: center;
    padding: 1rem;
}
@media screen and (ma) {
    
}